.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 0px;
}

.header .header__title {
  font-size: 24px;
  font-weight: 600;
}

.header .header__icon {
  font-size: 20px;
  margin-left: 20px;
  cursor: pointer;
}

.header .header__header-column {
  display: flex;
  align-items: center;
}

.header .header__back-btn {
  font-size: 20px;
  margin-right: 20px;
}

@keyframes cogTurnAnim {
  0% {
    transform: none;
  }
  50% {
    transform: rotate(1turn);
  }
  100% {
    transform: rotate(2turn);
  }
}

.header__icon .fa-cog {
  animation: cogTurnAnim 8s linear infinite;
}
.header__icon .fa-cog:hover {
  animation: cogTurnAnim 2s linear infinite;
}
