.status-bar {
  display: flex;
  justify-content: space-between;
  color: #757575;
}

.status-bar i {
  font-size: 14px;
}

.status-bar .status-bar__battery-level {
  margin-left: 3px;
}

.blink {
  animation: blinkAnim 1.5s linear infinite;
}

@keyframes blinkAnim {
  50% {
    opacity: 0;
  }
}
